button{
	border-width:2px; 
	border-width:2px;
	border-color: blue;
}

#items{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#items > li {

	padding: 15px;
	margin: 10px;
	width: 480px;
}

li > div {
	margin: 5px 0px 0px 0px;
}

.checked > .item {
	text-decoration: line-through;
}